* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 51%, rgba(237,237,237,1) 100%);
    font-family: 'Open Sans', sans-serif;
}
h1{
    color: rgb(31,122,49);

}
h3{
    font-size: 18px;
    text-align: center;
    color: black;
}

hr {
    width: 90%;
    margin-left: 5%;
}

/*--------------------*/
/*-----ScrollBar------*/
/*--------------------*/

.contenedor::-webkit-scrollbar {
    width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
    background: rgb(230, 231, 230);
    border-radius: 5px;
}

.contenedor {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}

.nav {
    width: 100%;
    height: 40px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0 0;
    background: rgb(15, 15, 15);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.nombrebanner {
    width: 100%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
}

.nombrebanner:hover {
    font-size: 26px;
    color: rgb(31,122,49);
    transition: .3s;
}

ul {
    display: inline-flex;
    list-style: none;
    text-align: right;
}

li a {
    padding: 10px 10px;
    border-radius: 2px;
}

li a:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.navbtn {
    height: 40px;
    font-weight: 200;
    color: white;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}

.banner {
    width: 100%;
    height: 650px;
    background: url(../estilo/img/banner.png);
    opacity: .99;
    background-repeat: no-repeat;
    display: block;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    border-bottom: black;
    border-radius: 0 0 5px 5px;
}

.video {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 650px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);

}

.videoyt {
    border-radius: 5px;
}

.txtvideo {
    color: rgb(31,122,49);
    padding-top: 10px;
    height: 10%;
}

.historia {
    width: 100%;
    height: 850px;
    display: inline-flex;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.sechistoria {
    display: block;
    align-items: center;
    text-align: center;
    width: 65%;
    height: 850px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}
.sechistoria h3{
    margin-top: 60px;
    padding-top: 20px;
    margin-left: 60px;
    margin-right: 80px;
    text-align:justify;
}
.sechistoria h1{
    text-align: center;
    padding-top: 40px;
}

.publicidad1 {
    position: relative;
    width: 34%;
    height: 850px;
    border-radius: 5px;
    background-image: url(../estilo/img/Text-messages-[remix]A.gif);
    background-repeat: no-repeat;
    border:solid white;
}
.publicidad1 input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: rgb(31,122,49);
    color: #FFF;
    cursor: pointer;
    border-radius: 100px;
    width: 30%;
    margin-top: 785px;
    margin-left: 150px;
    font-weight: 700;
    
}

.eleccion {
    width: 100%;
    height: 750px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.contenedorelec {
    height: 100%;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contenedorcards {
    text-align: center;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    background: royalblue;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
}

.cards {
    height: 85%;
    width: 25%;
    margin: 20px;
    border-radius: 5px;
    background: coral;
}

.nosotros {
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}
.nosotros h1{
    width: 80%;
    height: 10%;
    margin: 0px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.imagenboxnosotros{
    width: 80%;
    height: 44%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
}
.imgnost{
    height: 95%;
    width: 70%;
    border-radius: 5px;
    background:url(../estilo/img/semilla.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}
.textonosotros{
    width: 80%;
    height: 45%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: black;
    background: rgb(255, 255, 255);
}

.contacto {
    width: 100%;
    height: 760px;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    
}

.titulocontacto {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}

.contactobox {
    width: 100%;
    height: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
}

.imagen {
    width: 45%;
    height: 90%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(0, 0, 0);
}

.formulario {
    width: 45%;
    height: 90%;
    display: inline-flex;
    position: relative;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.formulario .contacto {
    margin-top: 60px;
    width: 80%;
    height: 70%;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    display: flex;
    justify-content: center;
}

.contact {
    padding: 0.8rem;
    overflow: hidden;
    color: gray;
    width: 100%;
    padding-top: 10%;
}

.contact label,
.contact input,
.contact textarea {
    display: block;
    width: 75%;
    margin-bottom: 5px;
    margin-left: 25%;
}

.contact label {
    font-weight: 700;
    text-align: left;
}

.contact input:not([type='submit']),
.contact textarea {
    border: 1px solid rgba(37, 211, 102);
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(54, 54, 54, 0.603);
}

.contact input:not([type='submit']) {
    height: 25px;
}

.contact textarea {
    min-height: 25px;
}

.contact input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: #25d366;
    color: #FFF;
    cursor: pointer;
    border-radius: 100px;
    width: 30%;
    margin-top: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px rgba(43, 42, 42, 0.658);
}

.contact input[type='submit']:active {
    box-shadow: 1px 1px 1px 1px rgba(43, 42, 42, 0.658);
}

.textocontacto {
    width: 90%;
    height: 16%;
    padding-bottom: 20px;
    display: inline-flex;
    position: relative;
    text-align: center;
}

.testimonios {
    width: 100%;
    height: 750px;
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.testimonailtext {
    width: 100%;
    height: 6%;
    background: rgb(0, 0, 0);
}

.testimonailtext h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialbox {
    width: 100%;
    height: 92%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}

.testimonialcard {
    height: 100%;
    width: 27%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.testimonailtext {
    width: 100%;
    height: 8%;
    background: rgb(0, 0, 0);
    margin-top: 5px;
}

.testimonailtext h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonialbox {
    width: 100%;
    height: 94%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}

.testimonialcard {
    height: 80%;
    width: 27%;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.testcardup {
    width: 100%;
    height: 35%;
    border-width: 2px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../estilo/img/fondo\ testimonio.jpg);
}

.testcarddwn {
    width: 100%;
    height: 65%;
    display: flex;
    position: relative;
    justify-content: center;
    background: white;
}

.boxcarddwn {
    width: 90%;
    height: auto;
    margin: 20px;
}

.testcarddwn h1 {
    text-align: center;
    font-size: 25px;
    margin: 15px;
    padding: 15px;
}

.testfoto {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(../estilo/img/viejo.jpg);
    background-repeat: no-repeat;
}

.publicidad2 {
    width: 100%;
    height: 285px;
    display: block;
    position: relative;
    text-align: center;
    background:url(../estilo/img/ardilla.jpg);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 1);

}

.boxfooter {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.whatsapp {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: rgba(37, 211, 101, 0.794);
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.whatsapp:hover {
    text-decoration: none;
    color: #25d366;
    background-color: #fff;
    transition: .3s;
}

.my-what {
    margin-top: 16px;
}

.direcciones {
    margin-top: 60px;
    color: white;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-right: solid white;
}

.direcciones p {
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    align-items: center;
    text-align: center;
    text-shadow: whitesmoke;
    text-transform: uppercase;
}

.redes {
    width: 50%;
    padding: 20px;
}

.textoredes {
    width: 100%;
    height: 25%;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redesbox {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.twitter {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/twitter.png);
}

.instagram {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/instagram.png);
}

.facebook {
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/facebook.png);
}

.twitter:hover {
    box-shadow: 2px 2px 58px 9px rgb(66, 111, 189);
    transition: 0.5s;
}

.instagram:hover {
    box-shadow: 2px 2px 58px 9px rgba(255, 85, 176, 0.6);
    transition: 0.5s;
}

.facebook:hover {
    box-shadow: 2px 2px 58px 9px rgb(66, 111, 189);
    transition: 0.5s;
}

.copy {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*.puntos1{
    width: 50px;
    height: 50px;
    border-radius: 50%;

    background: rgb(255, 255, 255);
    opacity: .8;

    position: absolute;
    bottom: 0px;
    left: 2%;

    animation: puntos 10s linear infinite;
    animation-delay: .3s;
} 
.puntos2{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    left:3% ;

    position: absolute;
    bottom: 0px;

    animation: luna 10s linear infinite;
    animation-delay: .3s;
} 
.puntos3 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(213, 231, 213);
    opacity: .3;

    position: absolute;
    bottom: 0px;
    left: 4%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .1s;
}

.puntos4 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 13%;

    animation: puntos 9s linear infinite;
    animation-delay: .1s;
}

.puntos5 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 10%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .5s;
}

.puntos6 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 5%;

    animation: puntos 10s linear infinite;
    animation-delay: 0s;
}

.puntos7 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 7%;

    animation: puntos 10s linear infinite;
    animation-delay: .0s;
}

.puntos8 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .7;

    position: absolute;
    bottom: 0;
    left: 9%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .6s;
}

.puntos9 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .6;

    position: absolute;
    bottom: 0;
    left: 11%;

    animation: puntos 8.5s linear infinite;
    animation-delay: .9s;
}

.puntos10 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .7;

    position: absolute;
    bottom: 0;
    left: 12%;

    animation: puntos 12s linear infinite;
    animation-delay: 1.8s;
}

.puntos13 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .8;

    position: absolute;
    bottom: 0;
    left: 4%;

    animation: puntos 9.5s linear infinite;
    animation-delay: 2.2s;
}

.puntos14 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .6;

    position: absolute;
    bottom: 0;
    left: 13%;

    animation: puntos 11s linear infinite;
    animation-delay: 2.3s;
}

.puntos15 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .4;

    position: absolute;
    bottom: 0;
    left: 10%;

    animation: puntos 8s linear infinite;
    animation-delay: 1.5s;
}

.puntos16 {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .7;

    position: absolute;
    bottom: 0;
    left: 5%;

    animation: puntos 10s linear infinite;
    animation-delay: 1.5s;
}

.puntos17 {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .5;

    position: absolute;
    bottom: 0;
    left: 7%;

    animation: puntos 8s linear infinite;
    animation-delay: 1.8s;
}

.puntos18 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .6;

    position: absolute;
    bottom: 0;
    left: 9%;

    animation: puntos 8.5s linear infinite;
    animation-delay: 2.6s;
}

.puntos19 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(82, 231, 82);
    opacity: .6;

    position: absolute;
    bottom: 0;
    left: 11%;

    animation: puntos 7.5s linear infinite;
    animation-delay: 1.6s;
}

.puntos20 {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 12%;

    animation: puntos 9s linear infinite;
    animation-delay: 1s;
}

@keyframes puntos {
    0% {
        bottom: 0;
        opacity: .2;
    }

    25% {
        transform: translateX(40px);
        opacity: .4;
    }

    50% {
        opacity: .5;
    }

    75% {
        transform: translateX(20px);
        opacity: .3;
    }

    100% {
        bottom: 100vh;
        opacity: .0;
    }
}

@keyframes luna {
    0% {
        bottom: 0;
        opacity: 1;
    }

    25% {
        transform: translateX(40px);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    75% {
        transform: translateX(20px);
        opacity: 1;
    }

    100% {
        bottom: 100vh;
        opacity: 1;
    }
}*/