* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 51%, rgba(237, 237, 237, 1) 100%);
    font-family: 'Open Sans', sans-serif;
}

.contenedor {
    max-width: 1280px;
    width: 95%;
    margin: auto;
}

h1 {
    color: rgb(31, 122, 49);
    font-size: 1.7rem;
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

h3 {
    font-size: 1rem;
    text-align: center;
    color: black;
}

hr {
    margin-top: 10px;
    width: 90%;
    margin-left: 5%;
}

/*--------------------*/
/*-----ScrollBar------*/
/*--------------------*/

.contenedor::-webkit-scrollbar {
    width: 7px;
}

.contenedor::-webkit-scrollbar-thumb {
    background: rgba(15, 15, 15, 0.589);
    border-radius: 5px;
}

.nav {
    width: 95%;
    height: 40px;
    max-width: 1280px;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 5px 5px;
    background: rgba(15, 15, 15, 0.589);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    z-index: 2;
}

.nombrebanner {
    width: 40%;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
}

.nombrebanner:hover {
    font-size: 26px;
    color: rgb(31, 122, 49);
    transition: .3s;
}

.nav ul {
    display: inline-flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
}

.nav li a {
    display: block;
    padding: 10px 10px;
    border-radius: 2px;
}

.nav li a:hover {
    background-color: white;
    color: black;
    transition: .5s;
}

.navbtn {
    height: 40px;
    font-weight: 200;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

.nav #btn-menu {
    display: none;
}

.nav label {
    display: none;
    padding: 20px;
}

.nav label i {
    color: #fff;
}

.nav label i:hover {
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 650px;
    background: url(../estilo/img/bannerL.jpg);
    opacity: .99;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    border-radius: 0 0 5px 5px;
}

.textbanner {
    width: 30%;
    height: 22%;
    margin: 40px 0;
    border: 4px solid white;
    background: rgba(0, 0, 0, 0.294);
    box-shadow: inset 0px 2px 25px -49px rgba(255, 252, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand {
    color: white;
    font-size: 40px;
    display: block;
    align-items: center;
    justify-content: center;
}

.video {
    display: block;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 650px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);

}

.videoyt {
    border-radius: 5px;
    margin-top: 20px;
}

.txtvideo {
    color: rgb(31, 122, 49);
    padding-top: 10px;
}

.historia {
    width: 100%;
    height: 850px;
    display: inline-flex;
    position: relative;
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.sechistoria {
    display: block;
    align-items: center;
    text-align: center;
    width: 65%;
    height: 100%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.sechistoria .texthistoria {
    padding: 40px;
    text-align: justify;
}


.fondopubli {
    background: black;
    width: 35%;
    height: 850px;
    border-radius: 25px;
}

.publicidad1 {
    position: relative;
    width: 100%;
    height: 850px;
    border-radius: 25px;
    background-image: url(../estilo/img/Text-messages-[remix]A.gif);
    background-repeat: no-repeat;
    border: 6px solid black;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.publicidad1 input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: rgb(31, 122, 49);
    color: #FFF;
    cursor: pointer;
    border-radius: 100px;
    width: 30%;
    margin-top: 785px;
    margin-left: 150px;
    font-weight: 700;
}

.eleccion {
    width: 100%;
    height: auto;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../estilo/img/arbolito2.png);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
    border-radius: 5px;
}

.contenedorelec {
    height: 100%;
    width: 80%;
    border-radius: 5px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.contenedorcards {
    text-align: center;
    height: 80%;
    width: 100%;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cards {
    height: 85%;
    min-width: 290px;
    margin: 15px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.titulocard {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../estilo/img/precio-silver.png);
    border-radius: 5px 5px 0 0;
}

.titulocard h1 {
    color: rgb(253, 252, 252);
    padding: 0;
}

.cards hr {
    margin: 0;
}

.imagencard {
    width: 100%;
    height: 32%;
    background: rgba(0, 0, 0, 0.96);
    display: inline-flex;
    align-items: center;
}

h4 {
    font-size: 8rem;
    text-align: left;
    letter-spacing: .1rem;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
}

.numero12 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 5px;
}

.moneda {
    height: 50%;
    width: 50%;
}

.usd {
    display: flex;
    align-items: flex-end;
    justify-content: left;
    color: white;
    font-size: 2.5rem;
    margin-left: 5px;
    margin-top: 20px;
    padding-bottom: -10px;
}

.cop {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    color: rgba(255, 255, 255, 0.863);
    font-size: 1.2rem;
    margin-left: 5px;
    padding-top: -10px;
}

.basic {
    background-image: url(../estilo/img/precio-basico.png);
}

.numero6 {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
    margin-left: 20px;
    padding-left: 45px;
}

.numero30 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    padding-left: 8px;
}

.silver {
    background-image: url(../estilo/img/precio-silver.png);
}

.gold {
    background-image: url(../estilo/img/preciogold.png);
}

.textocard {
    width: 100%;
    height: 45%;
    background: white;
}

.itemprod {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: left;
    font-size: 1rem;
    padding-top: 20px;
    font-weight: 500;
    list-style: inside;

}

.itemprod li {
    margin: 25px;
    text-decoration: none;

}

.botoncard {
    width: 100%;
    height: 15%;
    background: rgba(255, 255, 255, 0.96);
    border-radius: 0 0 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nosotros {
    width: 100%;
    height: 700px;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.imagenboxnosotros {
    width: 100%;
    height: 292px;
    display: inline-flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
    background: rgb(255, 255, 255);
}

.imgnost {
    height: 100%;
    width: 40%;
    border-radius: 5px;
    margin-top: 40px;
    background: url(../estilo/img/semilla.jpg);
    background-repeat: no-repeat;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.textonosotros {
    width: 80%;
    height: 45%;
    display: inline-flex;
    align-items: center;
    color: black;
    background: rgb(255, 255, 255);
}

.contacto1 {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.titulocontacto {
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.contactobox {
    width: 100%;
    height: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.imagen {
    width: 45%;
    height: 90%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(0, 0, 0);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.formulario {
    width: 45%;
    height: auto;
    display: inline-flex;
    position: relative;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.contact {
    padding: 0.8rem;
    overflow: hidden;
    color: gray;
    width: 100%;
}

input:placeholder-shown,
textarea:placeholder-shown {
    font-size: 0.8em;
    font-style: italic;
}

.contact label,
.contact input,
.contact textarea {
    display: block;
    width: 75%;
    margin-bottom: 5px;
    margin-left: 15%;
}

.contact label {
    font-weight: 700;
    text-align: left;
}

.contact input:not([type='submit']),
.contact textarea {
    border: 1px solid rgba(37, 211, 102);
    margin-bottom: 10px;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(54, 54, 54, 0.603);
}

.contact input:not([type='submit']) {
    height: 25px;
}

.contact textarea {
    min-height: 25px;
}

.contact input[type='submit'] {
    padding: 10px;
    border: none;
    background-color: #25d366;
    color: #FFF;
    cursor: pointer;
    border-radius: 100px;
    width: 30%;
    margin-top: 10px;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px rgba(43, 42, 42, 0.658);
}

.contact input[type='submit']:active {
    box-shadow: 1px 1px 1px 1px rgba(43, 42, 42, 0.658);
}

.textocontacto {
    width: 100%;
    justify-content: center;
}

.testimonios {
    width: 100%;
    height: 600px;
    display: block;
    position: relative;
    justify-content: center;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}



.testimonialbox {
    width: 100%;
    height: 92%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 5px;
    background: rgb(255, 255, 255);
}

.testimonialcard {
    height: 100%;
    width: 27%;
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.testimonailtext {
    width: 100%;
    height: 8%;
    background: rgb(0, 0, 0);
    margin-top: 5px;
    border-radius: 5px;
}


.testimonialbox {
    width: 100%;
    height: 94%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);

}

.testimonialcard {
    height: 80%;
    width: 27%;
    display: inline-block;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.testcardup {
    width: 100%;
    height: 35%;
    border-width: 2px;
    border-radius: 5px 5px 0 0;
    border-bottom: solid black;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: url(../estilo/img/fondo\ testimonio.jpg);
}

.testcarddwn {
    width: 100%;
    height: 65%;
    display: flex;
    position: relative;
    justify-content: center;
    background: white;
    border-radius: 5px;
}

.boxcarddwn {
    width: 90%;
    height: auto;
    margin: 20px;
}

.testimonio1 {
    padding-top: 20px;
}

.testfoto1 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(../estilo/img/viejo1.png);
    background-repeat: no-repeat;
    border: 4px solid white;
    z-index: 1;
}

.testfoto2 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(../estilo/img/viejo2.png);
    background-repeat: no-repeat;
    border: 4px solid white;
    z-index: 1;
}

.testfoto3 {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: url(../estilo/img/viejo3.png);
    background-repeat: no-repeat;
    border: 4px solid white;
    z-index: 1;
}

.publicidad2 {
    width: 100%;
    height: 285px;
    display: inline-flex;
    position: relative;
    justify-content: space-between;
    text-align: center;
    background: url(../estilo/img/ardilla\ L.jpg);
    border-radius: 5px;
    margin-top: 25px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.418);
}

.msjpublicidad2 {
    width: 20%;
    height: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.418);
}

.msjpublicidad2 p {
    font-size: 25px;
    color: white;
    text-align: left;
    margin-left: 30px;
}

.footer {
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255, 255, 255, 1);
}

.boxfooter {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.direcciones {
    margin-top: 60px;
    color: white;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    border-right: solid white;
}

.direcciones p {
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    align-items: center;
    text-align: center;
    text-shadow: whitesmoke;
    text-transform: uppercase;
}

.redes {
    width: 50%;
    padding: 20px;
}

.textoredes {
    width: 100%;
    height: 10%;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redesbox {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.twitter {
    margin: 30px 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #0be0f0;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

.instagram {
    margin: 30px 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #c13584;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

.facebook {
    margin: 30px 10px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    background: #3c70ff;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 25px;
}

.twitter:hover {
    box-shadow: 2px 2px 58px 9px rgb(85, 128, 204);
    transition: 0.5s;
}

.instagram:hover {
    box-shadow: 2px 2px 58px 9px rgba(255, 85, 176, 0.6);
    transition: 0.5s;
}

.facebook:hover {
    box-shadow: 2px 2px 58px 9px rgb(66, 111, 189);
    transition: 0.5s;
}

.copy {
    width: 100%;
    height: 10%;
    margin-top: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.textpowered {

    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.powered {
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.desarrolladores {
    height: 10%;
    padding-bottom: 20px;
    font-size: 13px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

.desarrolladores:hover {
    font-size: 14px;
    color: green;
    transition: .3s;
}

.power {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 20px;
}

.wsp-btn{
    position: fixed;
    width: 55px;
    height: 55px;
    line-height: 55px;
    bottom: 30px;
    right: 30px;
    background: #0df053;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 3px 4px 3px 0px rgba(56, 56, 56, 0.932);
}

.wsp-btn:hover{
    text-decoration: none;
    color:#0df053;
    background:#fff;
    transition: .3s;
}

/*----------------------*/
/*-----MediaQueries-----*/
/*----------------------*/

@media(max-width: 1280px) {
    .contenedor {
        width: 100%;
        margin: auto;
        overflow-x: hidden;
    }

    .nav {
        width: 100%;
    }
}

@media(max-width: 1200px) {
    .fondopubli {
        display: none;
    }

    .historia {
        height: auto;
    }

    .sechistoria {
        width: 100%;
    }
}

@media(max-width: 900px) {
    .testimonios {
        height: 1600px;
    }

    .testimonialcard {
        height: auto;
        width: 90%;
    }
}

@media(max-width: 768px) {
    .nombrebanner {
        position: absolute;
        left: 50px;
    }

    .nav label {
        display: block;
        z-index: 100;
    }

    .menu {
        position: absolute;
        padding-top: 300px;
        background: rgba(15, 15, 15, 0.589);
        width: auto;
        margin-left: -50%;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        padding: 10px;
    }

    .menu ul li .navbtn {
        border-left: none;
        border-bottom: 1px solid #fff;
    }

    .nav #btn-menu:checked~.menu {
        margin-left: 0;
        transition: .4s;
    }

    .nav #btn-menu:checked~.nombrebanner {
        left: 9rem;
        transition: .4s;
    }

    .banner {
        background: url(../estilo/img/bannerM.jpg);
        background-repeat: no-repeat;
        height: 472px;
    }

    .imagenboxnosotros {
        display: none;
    }

    .textonosotros {
        width: 80%;
    }

    .imagen {
        width: auto;
        height: 45%;
    }

    .formulario {
        width: 100%;
        height: 45%;
        box-shadow: none;
    }

    .contact input[type='text'] {
        width: 35%;
    }

    .contact input[type='email'] {
        width: 35%;
        margin-left: 55%;
        margin-top: -58px;
    }

    .contact label {
        visibility: hidden;
    }

    .contact textarea {
        max-height: 25px;
    }

    .publicidad2 {
        background: url(../estilo/img/ardilla\ m.jpg);
        background-repeat: no-repeat;
        height: 252px;
    }

    .h1 {
        font-size: 1.1rem;
    }

    .h3 {
        font-size: 0.75rem;
    }

    .h4 {
        font-size: 6rem;
    }
}

@media(max-width: 660px){
    .contacto1{
        height: 1000px;
    }

    .textbanner {
        width: auto;
        height: 26%;
    }

    .brand {
        font-size: 40px;
        display: block;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:500px){

    .twitter {
        margin: 10px;
    }

    .instagram {
        margin: 10px;
    }

    .facebook {
        margin: 10px;
    }
}

@media(max-width: 440px) {

    .banner {
        background: url(../estilo/img/bannerS.jpg);
        background-repeat: no-repeat;
        height: 380px;
    }

    .textbanner {
        width: auto;
        height: 36%;
    }

    .brand {
        font-size: 40px;
        display: block;
        align-items: center;
        justify-content: center;
    }

    .publicidad2 {
        background: url(../estilo/img/ardilla\ s.jpg);
        background-repeat: no-repeat;
        height: 198px;
    }

    .msjpublicidad2{
        width: 35%;
    }
}