*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: /*linear-gradient(to bottom, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 27%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%);*/
    black;
    font-family: 'Open Sans', sans-serif;
}
.contenedor{
        max-width: 1280px;
        width: 95%;
        margin: auto;
}
.nav{
    width: 100%;
    height:40px;
    display: inline-flex;
    justify-content:space-between;
    align-items: center;
    background:rgba(7, 26, 0, 0.637);
    box-shadow: 0px 5px 10px 0px rgba(255,255,255,1);
}

.nombrebanner{
    width: auto;
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
    margin-left: 10px;
    text-decoration: none;
}
.nombrebanner:hover{
    font-size: 30px;
    color:rgba(37, 211, 102, 0.637);
    transition: .5s;
}
ul{
    display:inline-flex;
    list-style: none;
    text-align: right;
}
li a:hover{
    background-color: white;
    color: black;
}

.navbtn{
    height: 40px;
    font-weight: 200;
    color: white;
    font-size: 18px;
    margin: 10px;
    text-decoration: none;
}
.banner{
    width: 100%;
    height: 650px;
    background:url(../estilo/img/banner.png);
    background-repeat: no-repeat;
    display: block;
    align-items: center;
    box-shadow: 0px 5px 10px 0px rgba(255,255,255,1);
    border-bottom: black;
    border-radius: 0 0 5px 5px;
}
.video{
    display: block;
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
    height: 650px;
    box-shadow: 5px 5px 7px 0px rgba(0,0,0,0.75);
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);

}
.videoyt{
    border-radius: 5px;
}
.txtvideo{
    padding-top: 10px;
    height: 10%;
}

.historia{
    width: 100%;
    height: 650px;
    display: inline-flex;
    position: relative;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
    margin-top: 10px;
    border-radius: 5px;
    justify-content: space-between;
}

.sechistoria{ 
    display: inline-flex;
    position: relative;
    width: 75%;
    height: 650px;
    background-color: brown;
}
.publicidad1{
    position: relative;
    width: 25%;
    height: 650px;
    background: cyan;
}
.eleccion{
    width: 100%;
    height: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
    border-radius: 5px;
}
.contenedorelec{
    height: 100%;
    width: 80%;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.contenedorcards{
    text-align: center;
    height: 80%;
    width: 100%;
    background: royalblue;
    display: inline-flex;
    justify-content:space-evenly;
    align-items: center;
}

.cards{
    
    height: 85%;
    width: 25%;
    margin: 20px;
    background: coral;
}
.nosotros{
    width: 100%;
    height:700px ;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
}
.contacto{
    width: 100%;
    height:750px ;
    display: block;
    position: relative;
    text-align: center;
    background: white;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
}
.titulocontacto{
    width: 100%;
    height: 6%;
    background: cadetblue;
    text-align: center;
}
.contactobox{
    width: 100%;
    height: 80%;
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(166, 237, 100);
}
.imagen{
    width: 45%;
    height: 90%;
    display: inline-flex;
    position: relative;
    background: crimson;
}
.form{
    width: 45%;
    height: 90%;
    display: inline-flex;
    position: relative;
    background: darkgoldenrod;
}
.textocontacto{
    width: 100%;
    height: 16%;
    display: inline-flex;
    position: relative;
    text-align: center;
    background: rgb(92, 106, 236);
}












.testimonios{
    width:100% ;
    height:860px ;
    display: block;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
}
.publicidad2{
    width: 100%;
    height:250px;
    display: block;
    position: relative;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
}
.footer{
    width: 100%;
    height: auto;
    text-align: center;
    background: rgba(0, 0, 0, 0.794);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 2px 5px 0px rgba(255,255,255,1);
    
}
.boxfooter{
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 10px;
}
.whatsapp{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:rgba(37, 211, 102, 0.637);
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.whatsapp:hover {
	text-decoration: none;
	color: #25d366;
    background-color:#fff;
    transition: .3s;
}

.my-what{
	margin-top:16px;
}
.direcciones{
    margin-top: 60px;
    color: white;
    width: 50%;
    height: 70%;
    position: relative;
    display: flex;
    flex-wrap:wrap ;
    border-right: solid white;
}
.direcciones p {
    width: 100%;
    height: 25%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    font-size: 12px;
    align-items: center;
    text-align:center;
    text-shadow: whitesmoke;
    text-transform: uppercase;
}
.redes {
        width: 50%;
        padding: 20px;
}

.textoredes{
    width: 100%;
    height: 25%;
    margin-top: 40px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redesbox{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content:space-evenly;
}

.twitter{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/iconos/twitter.png);
}
.instagram{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/iconos/instagram.png);
}
.facebook{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: url(../estilo/img/iconos/facebook.png);
}

.twitter:hover{
    box-shadow: 2px 2px 58px 9px rgb(66, 111, 189);
    transition: 0.5s;
}
.instagram:hover{
    box-shadow: 2px 2px 58px 9px rgb(255, 85, 176);
    transition: 0.5s;
}
.facebook:hover{
    box-shadow: 2px 2px 58px 9px rgb(66, 111, 189);
    transition: 0.5s;
}

.copy{
    width: 100%;
    height: 10%;
    margin-top: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    text-align: center;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*.puntos1{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background: rgb(255, 255, 255);
    opacity: .8;

    position: absolute;
    bottom: 0px;
    left: 2%;

    animation: puntos 10s linear infinite;
    animation-delay: .3s;
} 
.puntos2{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    left:3% ;

    position: absolute;
    bottom: 0px;

    animation: luna 10s linear infinite;
    animation-delay: .3s;
} */
.puntos3{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(213, 231, 213);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 4%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .1s;
} 
.puntos4{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 13%;

    animation: puntos 9s linear infinite;
    animation-delay: .1s;
} 
.puntos5{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 10%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .5s;
} 
.puntos6{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 5%;

    animation: puntos 10s linear infinite;
    animation-delay: 0s;
} 
.puntos7{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 7%;

    animation: puntos 10s linear infinite;
    animation-delay: .0s;
} 
.puntos8{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 9%;

    animation: puntos 9.5s linear infinite;
    animation-delay: .6s;
} 
.puntos9{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 11%;

    animation: puntos 8.5s linear infinite;
    animation-delay: .9s;
} 
.puntos10{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 12%;

    animation: puntos 12s linear infinite;
    animation-delay: 1.8s;
} 

.puntos13{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(213, 231, 213);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 4%;

    animation: puntos 9.5s linear infinite;
    animation-delay: 2.2s;
} 
.puntos14{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(255, 255, 255);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 13%;

    animation: puntos 11s linear infinite;
    animation-delay: 2.3s;
} 
.puntos15{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 10%;

    animation: puntos 8s linear infinite;
    animation-delay: 1.5s;
} 
.puntos16{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 5%;

    animation: puntos 10s linear infinite;
    animation-delay: 1.5s;
} 
.puntos17{
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 7%;

    animation: puntos 8s linear infinite;
    animation-delay: 1.8s;
} 
.puntos18{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 9%;

    animation: puntos 8.5s linear infinite;
    animation-delay: 2.6s;
} 
.puntos19{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgb(122, 255, 122);
    opacity: .6;

    position: absolute;
    bottom: 0;
    left: 11%;

    animation: puntos 7.5s linear infinite;
    animation-delay: 1.6s;
} 
.puntos20{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgb(249, 250, 249);
    opacity: .3;

    position: absolute;
    bottom: 0;
    left: 12%;

    animation: puntos 9s linear infinite;
    animation-delay: 1s;
} 

@keyframes puntos{
    0%{
        bottom: 0;
        opacity: .2;
    }
    25%{
        transform: translateX(40px);
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    75%{
        transform: translateX(20px);
        opacity: .3;
    }
    100%{
        bottom: 100vh;
        opacity: .0;
    }
}
@keyframes luna{
    0%{
        bottom: 0;
        opacity: 1;
    }
    25%{
        transform: translateX(40px);
        opacity: 1;
    }
    50%{
        opacity: 1;
    }
    75%{
        transform: translateX(20px);
        opacity: 1;
    }
    100%{
        bottom: 100vh;
        opacity: 1;
    }
}

